<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Aquí puedes incluir referencias a CSS o JS si es necesario -->
</head>
<body>
    <h1>Dashboard de Gestión de Municipios</h1>
    
    <nav>
        <ul>
            <li><a href="{% url 'registrar_municipio' %}">Registrar Municipio</a></li>
            <li><a href="{% url 'ver_municipios' %}">Ver Municipios</a></li>
        </ul>
    </nav>

    <!-- Aquí puedes incluir más contenido para tu dashboard si es necesario -->
</body>
</html>
