<!DOCTYPE html>
<html>
<head>
    <title>Ver Municipios</title>
</head>
<body>
    <h1>Lista de Municipios</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>RFC</th>
                <th>Gobierno</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for municipio in municipios %}
            <tr>
                <td>{{ municipio.name }}</td>
                <td>{{ municipio.city }}</td>
                <td>{{ municipio.rfc }}</td>
                <td>{{ municipio.government }}</td>
                <td>{{ municipio.status }}</td>
                <td>
                    <a href="{% url 'modificar_municipio' municipio.id %}">Modificar</a> <!-- Botón de Modificar -->
                    <a href="{% url 'eliminar_municipio' municipio.id %}">Eliminar</a> <!-- Botón de Eliminar -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
